body{
  font-family:Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text {
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 22px;
}

/* 解决方案 */

/* 
  对于下面的规则，我们把它从文件的原始位置移除了：

  .small-para {
    font-size: 14px;
    font-weight: 800;
  } 

  然后我们把它放在 .para 选择器之后，利用规则顺序的优势，因为两个选择器的特异性相同。 
  
  另一种解决方法是将它保留在原位并通过链式选择器提高特异性，例如：

  p.small-para {
    font-size: 14px;
    font-weight: 800;
  }
*/

.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* 
  对于下面的规则，我们移除了原始的 .confirm 选择器：

  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 

  然后我们使用了 ID 选择器，因为它的特异性高于 .button 选择器。

  其他解决方案是简单地将 .confirm 规则移动到 .button 规则下面，或者使用 .button.confirm 选择器而不移动它：

  .button.confirm {
    background: green;
    color: white;
    font-weight: bold;
  }
*/

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}

/*
  对于下面的规则，我们首先将其从文件中的原始位置移除：

  .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }

  然后我们添加了另一个选择器来创建后代组合器。如果我们只创建后代组合器，特异性将会与
  div.text选择器相同，这将取决于规则顺序；而如果我们只是移动它，div.text选择器仍然会有更高的特异性。
  
  另一种解决方案是保持规则在原来的位置，只需将div选择器替换为.text选择器：

  .text .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
*/

div .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}