* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* 我的修改 */
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.header, .footer {
  grid-column: 1 / 3;
}

.sidebar {
  grid-row: 2 / 4;
}

.menu ul, .nav ul{
  display: grid;
  list-style-type: none;
}

/* header 代码*/
.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header .logo {
  justify-self: start;
}

.logo{
  justify-self: start;
}

.menu{
 align-self: center;
}

.menu ul {
  grid-template-columns: repeat(4, 1fr);
}
/* sidebar 代码*/
.sidebar {
  display: grid;
  gap: 50px;
}

.side-content,.photo{
  display: grid;
  align-items: center;
  justify-items: center;
}

/* nav 代码*/
.nav ul{
  grid-template-columns: repeat(3, 1fr);
}

/* article 代码*/
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 15px;
}

.article .card{
  height: 200px;
}

.card p{
  padding: 5px;
}